<div class="container">
    <div class="item" id="card_0">
        <div class="info">
            <div class="title">
                {{people[0].name}}
            </div>

            <div class="desc"> Height: {{people[0].height}} </div><br>
            <div class="desc"> Homeworld: {{people[0].homeworld}} </div><br>

            <div class="desc"> Films:
                <div *ngFor="let index of people[0].films">
                    <div id="listItem">{{index}}</div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="item" id="card_1">
        <div class="info">
            <div class="title">
                {{people[1].name}}
            </div>

            <div class="desc"> Height: {{people[1].height}} </div><br>
            <div class="desc"> Homeworld: {{people[1].homeworld}} </div><br>
            
            <div class="desc"> Films:
                <div *ngFor="let index of people[1].films">
                    <div id="listItem">{{index}}</div>
                </div>
            </div>

        </div>
    </div>
</div>